

{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function() {
       loadTweetContainer("tweet-container")
    });
</script>
{% endblock script %}

{% block content %}
{% load static %}
    <div class="row align-items-start">
        <div class="col-sm-12">
            {% if request.GET.q %}
                <p class="lead"> Result for {{request.GET.q }}</p>
            <hr/>
            {% endif %}
        </div>
        <div class="col-sm-9 " style="padding-left: 50px" >
            <h1>Tweets</h1>
            <hr/>

            <div id="tweet-container" data-url="/api/tags/{{ obj.tags }}/">

            </div>

            <a href="#" id="loadMore"> Load More Tweets.. </a>

        </div>
    </div>

{% endblock content %}