{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function() {
       loadTweetContainer("tweet-container", {{ object.id }})
    });
</script>

{% endblock script %}
{% block title %}Tweet detail | {{block.super}}     {% endblock title%}

{% block content %}
{% load static %}

<div class='row'>
     <div class='col-sm-3 col-xs-12 user-data'  >

            <img src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static 'img/image_placeholder.png' %} {% endif %}" alt="user image">
            <a href="/{{ user.username }}">{{ request.user }}</a>
<!--            <div class="following-data">-->
<!--                <span>15 Follower</span>-->
<!--                <span>49 Following</span>-->
<!--            </div>-->
     </div>
    <div class='col-sm-9 col-xs-12'>
      <div id="tweet-container">

      </div>
    </div>

</div>

{% endblock content %}