{% extends "base.html" %}

{% block script %}
<script>
    $(document).ready(function() {
       loadTweetContainer("tweet-container")
    });
</script>
{% endblock script %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 col-xs-12 user-data profile-user-data' style= height:fit-content;'>
        <h2>{{ object.username }} </h2>
        {% include "registration/profile.html" %}

           <a class='btn btn-link' href='{{ object.profile.get_follow_url}}'>
                {% if following %} Unfollow {% else %} Follow {% endif %}
            </a>
        <hr>

        <p> Followers : {{ object.followed_by.all.count }} </p>


 <hr>

         <p>Following : {{ object.profile.get_following.count }}</p>
                {% for user in object.profile.get_following %}
                 <a href="/{{ user.username }}" > {{ user.username }}</a>
                {% empty %}
                    <p>Not following any users</p>
                {% endfor %}

         <hr>

            <p>Followed By</p>
                {% for profile in object.followed_by.all %}
                <a href="/{{ profile.user.username }}" >{{ profile.user.username }}</a>
                {% empty %}
                    <p>Not followed by any users</p>
                {% endfor %}
         <hr>

            <p>Recommended To Follow</p>
                {% for profile in recommended %}
                <a href="/{{ profile.user.username }}" >{{ profile.user.username }}</a>
                {% empty %}
                    <p>Not followed by any users</p>
                {% endfor %}
    </div>

    <div class='col-sm-9 col-xs-12'>
         <h2>Tweets</h2>

            <div id="tweet-container" data-url="/api/{{ object.username }}/tweet">
            </div>
            <a href="#" id="loadMore"> Load More Tweets.. </a>


    </div>

</div>

{% endblock content %}